#projects-list {
  list-style: none;
  padding: 8px;
  margin: 0;
}

.projects-content {
    overflow-y: scroll;
}

.project {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.project > a,
.project > a > img {
  height: 75px;
  width: 75px;
  margin-right: 12px;
  border-radius: 4px;
}

.project > a {
  transition: box-shadow 0.15s ease;
}

.project > a:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
}

.project-details {
  font-size: var(--small-text);
}

.project-details > a {
  text-decoration: none;
}

.project-details > a > h3 {
  margin: 0;
  margin-bottom: 8px;
}

.project-details > a > h3:hover {
  color: var(--theme-green);
}

.projects-content {
  margin-left: 32px;
}

.project-date {
  margin-left: 1em;
  color: var(--accent-green);
}

@media (max-aspect-ratio: 6/8) {
  .projects-content {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
}
