main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.endeavors-list {
  list-style: none;
  padding: 8px;
  margin: 0;
}

main {
  overflow-y: hidden;
}

.endeavors-content {
  overflow-y: scroll;
}

.endeavor {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.endeavor > a,
.endeavor > a > img {
  height: 75px;
  width: 75px;
  margin-right: 12px;
  border-radius: 4px;
}

.endeavor > a {
  transition: box-shadow 0.15s ease;
}

.endeavor > a:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
}

.endeavor-details {
  font-size: var(--small-text);
}

.endeavor-details > a {
  text-decoration: none;
}

.endeavor-details > a > h3 {
  margin: 0;
  margin-bottom: 8px;
}

.endeavor-details > h4 {
  margin: 0;
}

.endeavor-details > a > h3:hover {
  color: var(--primary);
}

.endeavor-content {
  margin-left: 32px;
}

.endeavor-date {
  margin-left: 1em;
}

.endeavors-title {
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.endeavors-title > a {
  font-size: var(--large-text);
  color: var(--dark-grey);
  margin-right: 16px;

  transition: color 150ms ease-in-out;
}

.endeavors-title > a:hover {
  color: var(--primary);
}

@media (max-aspect-ratio: 6/8) {
  main {
    flex-direction: column;
    justify-content: flex-start;
  }

  main {
    overflow-y: scroll;
  }

  .endeavors-content {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    overflow: visible;
  }
}
