:root {
  --background-color: #ffffff;
  --side-bar-bg-color: #ffffff;
  --side-bar-text-color: #3a3a3a;
  --primary: #25b668;
  --primary-accent: #4ac282;
  --dark-grey: #3c3c3c;
  --light-grey: #d8d8d8;
  --primary-font: "Poppins", sans-serif;
  --comic-font: "McLaren", sans-serif;
  font-family: var(--primary-font);
  font-size: 2vh;

  --large-text: 2rem;
  --medium-text: 1.5rem;
  --small-text: 1rem;
}

.comic {
  font-family: "McLaren", sans-serif;
}

.green {
  color: var(--primary);
}

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
}

header {
  flex-grow: 0.3;
  background-color: var(--side-bar-bg-color);
  z-index: 2;
}

h1,
h2,
h3 {
  color: var(--dark-grey);
  font-size: var(--large-text);
}

#center {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#center > a {
  text-align: center;
  text-decoration: none;
  color: var(--side-bar-text-color);
}

#center > a > h1 {
  margin: 0 8px;
}

#center > a {
  display: block;
  width: 100%;
}

#selfie {
  display: block;
  width: 6.5vw;
  height: 6.5vw;
  min-width: 80px;
  min-height: 80px;
  margin: auto auto;
  margin-top: 6vh;
  margin-bottom: 4vh;
  border-radius: 50%;
  border: 2px solid var(--side-bar-text-color);
}

#links {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

#links > li {
  font-size: var(--large-text);
  color: white;
  border-radius: 12px;
  margin: 0 8px;
}

#links > li > a {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: var(--side-bar-text-color);
}

#links > li:hover {
  background-color: var(--primary-accent);
}

#socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
}

#socials > li > a > i {
  color: var(--side-bar-text-color);
  font-size: var(--large-text);
  padding: 0 12px;
  transition: 100ms color ease-in-out;
}

#socials > li > a:hover > i {
  color: black;
}

footer {
  color: var(--side-bar-text-color);
  opacity: 0.44;
  width: 100%;
  text-align: center;
  margin-top: auto;
  padding: 2px 0;
  font-size: var(--small-text);
  font-family: var(--comic-font);
}

main {
  flex-grow: 10;
  background-color: var(--background-color);
  overflow-y: scroll;
}

#desktop-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#center-text > h2 {
  color: var(--dark-grey);
  font-size: 3rem;
}

#center-text > h2 {
  text-align: center;
}

#mobile-main {
  position: relative;
  height: 100%;
}

#mobile-main-content {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

#mobile-main-content > h2 {
  display: block;
  margin: 0;
}

#mobile-main-content > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mobile-main-content > ul > li > a {
  display: block;
  width: 100%;

  box-sizing: border-box;
  border-radius: 12px;
  padding: 8px 12px;
  margin: 16px 0;

  color: var(--dark-grey);
  background-color: var(--light-grey);
  transition: 100ms color ease-in-out;

  font-size: var(--large-text);
  text-decoration: none;
}

#mobile-main-content > ul > li > a:hover {
  background-color: var(--primary-accent);
}

.desktop-only {
  visibility: visible;
}

.mobile-only {
  visibility: hidden;
  display: none;
}

@media (max-aspect-ratio: 6/8) {
  :root {
    font-size: 1.5vh;
  }

  .desktop-only {
    visibility: hidden !important;
    display: none !important;
  }

  .mobile-only {
    visibility: visible !important;
    display: initial;
  }

  body {
    display: flex;
    flex-direction: column-reverse;
  }

  #center {
    height: auto;
    bottom: 0;
    width: 100%;
    padding-top: 1vh;
  }

  #center > a {
    /* position: absolute; */
    bottom: 20vh;
    padding-top: 0;
    margin: auto;
  }

  #selfie {
    margin-top: 0;
  }
}
