<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adam Towers</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
    <link rel="stylesheet" href="fontawesome/css/fontawesome.min.css" type="text/css">
    <link rel="stylesheet" href="fontawesome/css/brands.min.css" type="text/css">
    <link rel="stylesheet" href="fontawesome/css/solid.min.css" type="text/css">
    <link rel="stylesheet" href="css/theme.css" type="text/css">
    <link rel="stylesheet" href="css/projects.css" type="text/css">
  </head>
  <body>
    <header>
        <section id="center">
            <a href="/" class="desktop-only">
                <img src="images/hero_image.png" id="selfie"></img>
            </a>
            <h1>Adam Towers</h1>
            <ul id="socials">
                <li><a href="https://twitter.com/realAdamTowers" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="https://www.linkedin.com/in/adam-towers" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://github.com/Zarkoix" target="_blank"><i class="fab fa-github-square"></i></a></li>
            </ul>
            <ul id="links" class="desktop-only">
                <li><a href="https://drive.google.com/open?id=1_SazSJmKw5UUa-85Dfx3GM-lmxTTM_Ie">
                    Resume
                </a></li>
                <li><a href="/projects">
                    Projects
                </a></li>
                <li><a href="https://honors.adamtowers.io">
                    UW Honors
                </a></li>
            </ul>
            <footer>Made with ❤ in Seattle</footer>
        </section>
    </header>
    <main>
        <div class="projects-content">
            <div class="projects-title">
                    <a href="/"><i class="fas fa-chevron-left"></i></a>
                    <h2>Here's what I <span class="green">work</span> on</h2>
            </div>
            <ul id="projects-list">
                {{projects-list}}
            </ul>  
        </div>
    </main>
  </body>
</html>